<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="application.properties"/>
<context:component-scan base-package="org.example"/>

    <bean id="fishId"
          class="org.example.model.Fish">
        <property name="name" value="${fish.name}"/>
        <property name="color" value="${fish.color}"/>
    </bean>
    <bean id="personId"
            class="org.example.model.Person">
        <property name="name" value="${person.name}"/>
        <property name="age" value="${person.age}"/>
        <property name="animal" ref="fishId"/>

    </bean>
    <bean id="wifeId"
            class="org.example.model.Wife">
        <property name="name" value="${wife.name}"/>
        <property name="age" value="${wife.age}"/>
        <property name="animal" ref="catId"/>
    </bean>
    <bean id="catId"
            class="org.example.model.Cat">
        <property name="name" value="${cat.name}"/>
        <property name="breed" value="${cat.breed}"/>


    </bean>

    </beans>